body{
    margin: 0;
}
header{
    background-color: cadetblue;
}
header h1{
    color: bisque;
    text-align: center;
}
header img{
    height: 20px;
    width: 20px;
    position: absolute;
    padding: 8px;
}
.tabla1{
    border-collapse:collapse;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
th, td{
    border: solid 1px black;
    padding: 5px;
}
.container{
    padding: 1rem 0;
}
footer{
    background-color: antiquewhite;
    padding: 1rem;
}
footer section{
    float: right;
}
footer p{
    margin: 0;
}
